/*! = <nav>
-------------------------------------------------------------- */
nav ul {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;

  li:not(:first-child) {
    margin-left: var(--gap);
  }
}

/*! = <nav class="social-media-menu">
-------------------------------------------------------------- */
nav#social-media-menu ul {
  grid-column-end: span 10;
}


/*! = <nav class="main-menu">
-------------------------------------------------------------- */
nav#main-menu ul li {
  &:hover {
    box-shadow: 0 4px 0 0 var(--color-yellow);
  }
}
