/*! = <nav>
-------------------------------------------------------------- */
nav ul {
  display: flex;
  flex-flow: row;
  justify-content: flex-end; }
  nav ul li:not(:first-child) {
    margin-left: var(--gap); }

/*! = <nav class="social-media-menu">
-------------------------------------------------------------- */
nav#social-media-menu ul {
  grid-column-end: span 12; }

/*! = <nav class="main-menu">
-------------------------------------------------------------- */
