.card{
  background: var(--color-white);
  display: grid;
  grid-template-areas:
  'header'
  'body'
  'footer';
  z-index: 1;

  .header {
    grid-area: header;
    display: grid;
    align-items: center;
    justify-content: center;
    padding: var(--gap) calc(var(--gap) * 2 );
    position: relative;
  }
  .body {
    display: grid;
    grid-area: body;
    grid-gap: calc(var(--gap) * 2 );
    grid-template-columns: repeat(2, 1fr);
    padding: calc(var(--gap) * 2 );
    > * {
      grid-column-end: span 2;
    }
  }
  .footer {
    grid-area: footer;
  }
  &.main-card {
    .header{
      justify-content: start;
      > h1{
        position: relative;
        &::before {
          background: var(--color-yellow);
          content: '';
          height: calc(var(--gap) / 1);
          position: absolute;
          transform: translateY(-150%);
          width: 100%;
        }
      }
    }
    .body {
      > :not(:first-child) {
        grid-column-end: span 1;
      }
    }
  }
}
