body {
  display: grid; }
  body > * {
    grid-column: 1 / 2; }

.wrapper {
  display: grid;
  grid-gap: var(--gap);
  grid-template-columns: minmax(15px, auto) repeat(12, var(--app-width)) minmax(15px, auto); }
  .wrapper > .inner {
    display: inherit;
    grid-column: 3 / 13;
    grid-gap: inherit;
    grid-template-columns: repeat(12, 1fr); }
