.section {
  padding: calc(var(--gap) * 4) 0;
}

#section-main {
  align-content: center;
  display: grid;
  justify-items: center;
  height: 100vh;
  position: relative;

  h6 {
    display: grid;
    align-items: center;
    grid-template-columns: min-content max-content;
    grid-column-gap: calc(var(--gap) /2 );
  }

}


#section-one {
  transform: translateY(-50%);
  button {
    grid-column-end: span 5;
  }

}

#section-two {
  .inner > * {
    grid-column-end: span 5;
  }
  .content {
    display: grid;
    grid-gap: var(--gap);
  }
}

#section-three {
  .inner {
    grid-row-gap: calc(var(--gap) * 2);
    > * {
      grid-column-end: span 10;
    }
  }

  .card {
    grid-column-end: span 2;
  }
  .main-card {
    grid-column-end: span 4;
  }
}

#section-four {
  .inner {
    grid-row-gap: calc(var(--gap) * 2);
    > * {
      grid-column-end: span 10;
    }
    .main-video{
      position: relative;
      padding: 20% 0;
      display: grid;
      grid-gap: calc(var(--gap) / 1);
      align-content: center;
      justify-items: center;
    }
    .main-video-description {
      grid-column-end: span 5;
    }
    .video-1 {
      grid-column-start: 7;
    }
    .video {
      grid-column-end: span 2;
      position: relative;
      display: grid;
      padding: 15% 0;
      align-content: center;
      justify-items: center;
    }
  }
}

#section-five {
  .inner {
    > * {
      grid-column-end: span 10;
    }
  }
  .classes-content {
    grid-column-end: span 4;
    display: grid;
    grid-row-gap: var(--gap);

    &:first-child {
      padding-top: calc(var(--gap) * 3);
      position: relative;

      &::before {
        background: var(--color-red);
        content: '';
        height: calc(var(--gap) / 1);
        position: absolute;
        transform: translateY(-150%);
        width: calc(var(--gap) * 6);
      }

    }
  }
  .testimonials {
    grid-column-start: 6;
    grid-column-end: span 5;
    position: relative;
    .testimonial {
      padding: calc(var(--gap) * 2);
      display: grid;
      grid-gap: calc(var(--gap));
    }

    &::before {
      background: var(--color-red);
      content: '';
      height: 70%;
      position: absolute;
      transform: translate(calc(var(--gap) * -1), calc(var(--gap) * -1));
      width: 70%;
      z-index: -2;
    }
  }
}
