.section {
  padding: calc(var(--gap) * 4) 0;
}

#section-main {
  align-content: center;
  display: grid;
  justify-items: center;
  height: 100vh;

  h6 {
    display: grid;
    align-items: center;
    grid-template-columns: min-content max-content;
    grid-column-gap: calc(var(--gap) /2 );
  }

}


#section-one {
  transform: translateY(-50%);
  button {
    grid-column-end: span 6;
  }

}

#section-two {
  .inner > * {
    grid-column-end: span 5;
  }
  .content {
    display: grid;
    grid-gap: var(--gap);
  }
}
