.btn {
  border: none;
  display: inline-block;
  padding: calc(var(--gap) / 2) calc(var(--gap) * 2);
  text-align: center;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  .btn.btn-w100 {
    width: 100%; }
  .btn.btn-lg {
    padding: calc(var(--gap) * 2) calc(var(--gap) * 2); }
  .btn.btn-primary {
    background-color: var(--color-yellow);
    color: var(--color-primary); }
  .btn.btn-secondary {
    background-color: var(--color-red);
    color: var(--color-white); }
  .btn.btn-outline {
    color: var(--color);
    box-shadow: inset 0 0 0 1px var(--color); }
