figure {
  height: 100%;
  position: absolute;
  width: 100%; }
  figure.overlay::after {
    background-color: var(--color-primary);
    content: '';
    height: inherit;
    opacity: .85;
    position: absolute;
    top: 0;
    width: inherit;
    z-index: -1; }
  figure img {
    height: inherit;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: inherit;
    z-index: -2; }
